---- Reset para o Body e Canvas ----
/* Remove a margem - background definido no base.css */
body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* Garante que fique no fundo */
}